#header-nav{
    background-color: #616161;
    width: 100%;
    box-sizing: border-box;
    min-height: 100px;
    padding: 15px 0;
    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

#header-nav .navbar-header {
    padding: 0 15px;
}

.navbar-brand h1{
    color:#000000;
    font-size: 32px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#header-body {
    text-align: center;
    margin: 20px 0;
}
.jumbotron{
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}
@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw;
  }
  #collapsable-nav {
    font-size: 20px;
    text-align: center;
    border-top: 5px solid #000000;
  }

  #nav-list li {
    border-bottom: 1px solid #000000;
  }
  #nav-list li a {
    display: block;
  }

  .jumbotron{
    display: inline-block;
    text-align: center;
    padding: 10px 14px;
    margin: 10px auto;
    font-size: 5vw;
    max-width: 95%;
  }
  .container {
    text-align: center;
  }
  .jumbotron h1, .jumbotron p {
    margin: 0 0 8px 0;
  }
}
@media (min-width: 768px) {
  #collapsable-nav {
    display: none !important;
  }
}
